body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;

}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: rgb(13, 73, 36);
    font-size: 35px;
}

label {
    color: rgb(13, 73, 36);
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input,
textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: rgb(196, 255, 230);
    border: 2px solid rgb(196, 255, 230);
    color: rgb(13, 73, 36);
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: rgba(119, 117, 92, 0.3);
}

.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: rgb(64, 143, 117);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn {
    margin-top: 25px;
    font-size: 16px;
    color: #FFFFFF;
    border: 0;
    border-radius: 25px;
    background-color: #51D94C;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
    cursor: pointer;
}

.btn:hover {
    background-color: #50E04B;
}

@media(max-width:991px) {
    body {
        padding: 30px;
    }

    form {
        padding: 50px 30px;
        width: 100%;
    }
    input{
        padding: 15px;
    }

}